.page {
    background-color: #1e1e1e;
    color: #d9d9d9;

}

.formBox {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorDiv {
    height: clamp(400px, 40%, 300px);
    width: clamp(280px, 30%, 240px);
    border-radius: 10px;
    padding: calc(1rem + 1vw);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorDiv .errorIcon {
    width: calc(1.5rem + 0.5vw);
    height: calc(1.5rem + 0.5vw);
    margin: calc(1.5rem + 0.5vw);
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.errorDiv .errorIcon img {
    font-size: calc(0.5rem + 0.25vw);
}

.errorTitle {
text-align: center;
    font-size: calc(1rem + 0.5vw);
    font-weight: bold;
}

.error-info {
    font-size: var(--font-size);
    color: var(--black);
    text-align: center;
}

.errorDescription {
    font-size: calc(1rem + 0.25vw);
    margin-bottom: 1rem;
}

.errorInfo {
    font-size: calc(0.9rem + 0.25vw);
    color: #ff6b6b;
    margin-bottom: 1rem;
}

.errorMessage {
    font-size: calc(0.8rem + 0.25vw);
    margin-bottom: 1rem;
    color: #ff6b6b;
}

.retryButton {
    padding: calc(0.25rem + 0.25vw);
    width: 100%;
    margin: calc(0.5rem + 0.5vw) 0;
    background-color: #d9d9d9;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: calc(0.7rem + 0.25vw);
    cursor: pointer;
}

.retryButton:hover {
    background-color: lightgray;
}