@import url("../../main.css");
.home {
  height: 100vh;
  background-color: var(--white);
  padding: calc(2rem + 1vh) calc(5rem + 4vw);
}

.home .nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(3rem + 2vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(2rem + 1vw);
  background-color: var(--grey-3);
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-size: var(--font-size);
}

.home .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  background-color: var(--grey-split);
  height: calc(2.5rem + 1vh);
  width: calc(2.5rem + 1vh);
  font-size: calc(1rem + 0.5vw);
}

.home .nav-item {
  color: var(--color-text);
  font-size: calc(0.8rem + 0.3vw);
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.home .nav-item:hover {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.1);
}

.home .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: calc(50vh - (3rem + 2vh));
  text-align: center;
}

.home .title .subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
}

.home .subtitle {
  color: var(--grey);
  margin-top: calc(0.5rem + 0.5vh);
}

.home .login-navigate-button{
  background-color: var(--grey);
  color: var(--white);
  margin-top: calc(2rem + 1vh);
  padding: calc(0.3rem + 0.3vh) calc(0.8rem + 0.8vw);
  border-radius: calc(0.3rem + 0.3vh);
  font-size: var(--font-size);
  cursor: pointer;
}

.home .login-navigate-button:hover {
  background-color: var(--grey-2);
  color: var(--white);
  transition: background-color 0.3s ease, color 0.3s ease;
}
