@import url("../../main.css");

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--grey-4);
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid var(--grey-3);
  border-top: 5px solid var(--white);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  /* Spinner animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-text {
  margin-top: 20px;
  font-size: var(--font-size);
  color: var(--grey);
  font-family: var(--font-family);
}
