.page {
  background-color: #1e1e1e;
  color: #e9e9e9;
}

.formBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  height: clamp(300px, 40%, 300px);
  width: clamp(240px, 30%, 240px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginDiv .loginIcon {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.loginDiv .title {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.loginDiv .signUpLink {
  padding: 10px;
  text-align: center;
  font-size: 8px;
  text-decoration: none;
}

.loginDiv .signUpLink a {
  font-weight: bold;
}

.loginDiv .inputBox {
  padding: 5px;
  width: 200px;
  margin: 5px 0;
  border: 1px solid #161616;
  background-color: #161616;
  border-radius: 5px;
  font-size: 8px;
}

.loginDiv .loginButton {
  padding: 5px;
  width: 100%;
  margin: 10px 0;
  background-color: #e9e9e9;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 8px;
}

.loginDiv .loginButton:hover {
  background-color: lightgray;
}
