.page {
  background-color: #1e1e1e;
  color: #d9d9d9;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginDiv {
  height: clamp(300px, 40%, 300px);
  width: clamp(240px, 30%, 240px);
  border-radius: 10px;
  padding: calc(1rem + 1vw);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginIcon {
  width: calc(1.5rem + 0.5vw);
  height: calc(1.5rem + 0.5vw);
  margin: calc(1.5rem + 0.5vw);
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.loginIcon img {
  width: 100%; 
  height: auto;
}

.title {
  text-align: center;
  font-size: calc(1rem + 0.5vw);
  font-weight: bold;
  margin-bottom: 1rem;
}

.loginDiv .signUpLink {
  padding: calc(0.5rem + 0.25vw);
  text-align: center;
  font-size: calc(0.5rem + 0.25vw);
  text-decoration: none;
}

.loginDiv .signUpLink a {
  font-weight: bold;
}

.loginDiv .inputBox {
  padding: calc(0.25rem + 0.25vw);
  width: calc(10rem + 5vw);
  margin: calc(0.25rem + 0.25vw) 0;
  border: 1px solid #161616;
  background-color: #161616;
  border-radius: 5px;
  font-size: calc(0.5rem + 0.25vw);
}

.loginDiv .loginButton {
  padding: calc(0.25rem + 0.25vw);
  width: 100%;
  margin: calc(0.5rem + 0.5vw) 0;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: calc(0.5rem + 0.25vw);
}

.loginDiv .loginButton:hover {
  background-color: lightgray;
}

.googleButton {
  padding: calc(0.5rem + 0.25vw);
  width: 100%;
  margin: calc(0.5rem + 0.5vw) 0;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: calc(0.7rem + 0.25vw);
  cursor: pointer;
}

.googleButton:hover {
  background-color: lightgray;
}
