.dashboard {
  padding: 5rem 5%;
  display: flex;
  gap: 6%;
  align-items: flex-start;
  background-color: #d9d9d9;
}

.dashboard .mini-view {
  display: grid;
  grid-template-rows: 4rem 1fr;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  flex: 0 0 47%;
}

.dashboard .head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 1rem;
}

.dashboard .inbox-text-container {
  margin-bottom: 0.5rem;
  height: 2.5rem;
  width: 8rem;
  background-color: #d9d9d9bf;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.dashboard .inbox-text-container div {
  font-size: 1.4rem;
  font-weight: 600;
}

.dashboard .body-container {
  padding: 0.5rem 0.5rem;
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - 14rem);
  gap: 0.5rem;
  overflow: auto;
  overflow-y: scroll;
}

.dashboard .miniview-email-container {
  text-align: left;
  display: flex;
  gap: 0.5rem;
  border: 1px solid #d9d9d9;
}

.dashboard .from {
  padding: 0.5rem 0 0.5rem 1rem;
  flex: 0 0 10vw;
}

.dashboard .median {
  background-color: #d9d9d9;
  flex: 0 0 1px;
}

.dashboard .subject {
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  flex: 1;
}
