.email-display {
  display: grid;
  grid-template-rows: 9rem 1fr;
}

.email-display .header {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: 3rem 2rem 2rem;
  text-align: left;
}

.email-display .header div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-display .from {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: 2rem;
  font-weight: 700;
}

.email-display .title {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  font-size: 1rem;
  font-weight: 500;
}

.email-display .to {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  font-size: 1rem;
}

.email-display .date {
  text-align: right;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  font-size: 1rem;
}

.email-display .body {
  padding: 1rem;
}

.email-display .content-container {
  height: 100%;
  max-height: calc(100vh - 11rem);
  /* does not work when sidebar extended */
  max-width: calc(100vw - 80px - 31.5rem);
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;
  border-radius: 1rem;
  border: 2px solid #d9d9d9;
  padding: 2rem 4rem;
  text-align: left;
}
