/* main grid */
/* create space [0, 0] to [3, 1] */
.entry {
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  height: 4rem;
  display: grid;
  grid-template-rows: 1.25rem 2.75rem;
  grid-template-columns: calc(1rem + 0.4vw) calc(3rem + 9vw) 8px 1fr;
  flex: 0, 0, 4rem;
}

.no-summary.entry {
  grid-template-columns: calc(1rem + 0.4vw) 1fr 8px;
}

/* use space [0, 0] and [0, 1] */
.indicator-container {
  grid-row: 1 / -1;
  grid-column: 1 / 1;
  align-content: center;
}

/* use space [1, 0] */
.entry .head {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  /* set head grid */
  display: grid;
  grid-template-columns: 5fr 2fr;
}

/* use space [1, 1] */
.entry .title {
  overflow: ellipse;
  padding: 0, 0.1vw;
  text-align: left;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  font-size: calc(0.45rem + 0.2vw);
}

/* controls title overflow */

@media (min-width: 1401px) {
  .entry .title {
    line-clamp: 2;
  }
}

@media (max-width: 1400px) {
  .entry .title {
    line-clamp: 3;
  }
}

/* use space [2, 0] and [2, 1] */
.median-container {
  grid-row: 1 / -1;
  grid-column: 3 / 3;
  /* set median spacing */
  padding: 4px 3px;
}

/* use space [3, 0] and [3, 1] */
.entry .summary {
  padding: 0 0.1vw;
  overflow: ellipse;
  height: 4rem;
  grid-row: 1 / -1;
  grid-column: 4 / 4;
  text-align: left;
  font-size: calc(0.5rem + 0.2vw);
}

/* controls summary overflow */

@media (min-width: 672px) {
  .entry .summary {
    line-clamp: 4;
  }
}

@media (max-width: 671px) {
  .entry .summary {
    line-clamp: 5;
  }
}

.indicator-container > .indicator {
  width: 50%;
  aspect-ratio: 1 / 1;
  margin: auto;
  border-radius: 50%;
  background-color: #a2845e;
}

.entry .head > .from {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  grid-column: 1 / 1;
  text-align: left;
  font-size: calc(0.65rem + 0.2vw);
  font-weight: 700;
}

.entry .head > .date {
  grid-column: 2 / 2;
  text-align: right;
  font-size: calc(0.45rem + 0.2vw);
}

.median-container > .median {
  height: 100%;
  width: 100%;
  background-color: var(--color-background2);
}

