.email-display {
  display: grid;
  grid-template-rows: 9rem 1fr;
}

.email-display .header {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: 3rem 2rem 2rem;
  text-align: left;
}

.email-display .header div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-display .from {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: 2rem;
  font-weight: 700;
}

.email-display .title {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  font-size: 1rem;
  font-weight: 500;
}

.email-display .to {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  font-size: 1rem;
}

.email-display .reader-view {
  grid-row: 2 / -1;
  grid-column: 2 / 2;
  width: 40%;
  /* set height to width  */
  aspect-ratio: 1 / 1;
}

.email-display .icon-container {
  padding: 4px;
  border-radius: 4px;
}

.email-display .icon-container:hover {
  background-color: var(--color-background2);
}

.email-display .date {
  text-align: right;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  font-size: 1rem;
}

.email-display .body {
  width: 100%;
  padding: 1rem;
  max-width: min(
    calc(100vw - 15rem - var(--sidebar-width)),
    calc(70vw - var(--sidebar-width))
  );
}

.email-display .content-container {
  height: 100%;
  max-height: calc(100vh - 11rem);
  /* does not work when sidebar extended */
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;
  border-radius: 1rem;
  border: 2px solid var(--color-border);
  padding: 2rem 4rem;
  text-align: left;
}

/* overlay styles */

.pop-up-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-background);
  border-radius: 0.5rem;
  padding: 2rem;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
