.inbox-display {
  display: grid;
  grid-template-columns: 29.5rem 1fr;
  height: 100vh;
}

.inbox-display .list {
  width: 29.5rem;
  height: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 1fr 2px;
}

.inbox-title-container {
  height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.inbox-display .inbox-title {
  display: flex;
  width: 9rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(217, 217, 217, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0.75rem 0 0 0.75rem;
  z-index: 1;
}

.inbox-display .inbox-word {
  font-size: 1.5rem;
  font-weight: 600;
}

.inbox-display .inbox-icon {
  height: 1.4rem;
  width: 1.4rem;
}

.inbox-display .emails {
  padding: 0.5rem 0;
  display: grid;
  grid-template-rows: 1fr;
  height: calc(100vh - 5rem);
  gap: 0.5rem;
  overflow: auto;
  overflow-y: scroll;
}

/* split between inbox list and email viewer */

.inbox-display .divider {
  height: 100%;
  grid-row: 1 / -1;
  grid-column: 2 / 2;
  background-color: #d9d9d9;
}
