/* main grid */
/* create space [0, 0] to [3, 1] */
.entry {
  width: 460px;
  height: 4rem;
  display: grid;
  grid-template-rows: 1.25rem 2.75rem;
  grid-template-columns: 2rem 1fr 8px 2fr;
  flex: 0, 0, 4rem;
}

/* use space [0, 0] and [0, 1] */
.indicator-container {
  grid-row: 1 / -1;
  grid-column: 1 / 1;
  padding: 1.5rem 0.5rem;
}

/* use space [1, 0] */
.entry .head {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  /* set head grid */
  display: grid;
  grid-template-columns: 5fr 2fr;
}

/* use space [1, 1] */
.entry .title {
  padding: 0;
  text-align: left;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
  font-size: 0.6rem;
}

/* use space [2, 0] and [2, 1] */
.separator-container {
  grid-row: 1 / -1;
  grid-column: 3 / 3;
  /* set separator spacing */
  padding: 4px 2px;
}

/* use space [3, 0] and [3, 1] */
.entry .summary {
  height: 4rem;
  grid-row: 1 / -1;
  grid-column: 4 / 4;
  text-align: left;
  font-size: 0.75rem;
}

.indicator-container > .indicator {
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 50%;
  background-color: #a2845e;
}

.entry .head > .from {
  grid-column: 1 / 1;
  text-align: left;
  font-size: 0.8rem;
  font-weight: 700;
}

.entry .head > .date {
  grid-column: 2 / 2;
  text-align: right;
  font-size: 0.6rem;
}

.separator-container > .separator {
  height: 100%;
  width: 100%;
  background-color: grey;
  border-radius: 2px;
}
