.email-display {
  display: grid;
  grid-template-rows: 7rem 1fr;
}

.email-display .header {
  padding: 1.5rem 2rem 0.5rem 2rem;
  display: grid;
  grid-template-columns: 1fr 8rem;
  grid-template-rows: 2rem 1.5rem 1.5rem;
  text-align: left;
}

.email-display .header div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.email-display .from {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
  font-size: 1rem;
  font-weight: 700;
}

.email-display .title {
  grid-row: 2 / 2;
  grid-column: 1 / 1;
  font-size: 1rem;
  font-weight: 500;
}

.email-display .to {
  grid-row: 3 / 3;
  grid-column: 1 / 1;
  font-size: 0.9rem;
  font-weight: 500;
  opacity: 0.6;
}

.email-display .reader-view {
  color: var(--icon-color);
  grid-row: 2 / -1;
  grid-column: 2 / 2;
  width: 40%;
  /* set height to width  */
  aspect-ratio: 1 / 1;
}

.email-display .icon-container {
  padding: 4px;
  border-radius: 4px;
}

.email-display .icon-container:hover {
  background-color: var(--color-background2);
}

.email-display .date {
  text-align: right;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  font-size: calc(0.6rem + 0.2vw);
  opacity: 0.6;
}

.email-display .body {
  width: 100%;
  padding: 1rem;
  max-width: min(
    calc(100vw - 15rem - var(--sidebar-width)),
    calc(70vw - var(--sidebar-width))
  );
}

.email-display .content-container {
  height: 100%;
  max-height: calc(100vh - 9rem);
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;
  border-radius: 0.4rem;
  border: 2px solid var(--color-border);
  padding: calc(0.6rem + 0.2vh) calc(0.8rem + 0.6vw);
  text-align: left;
  font-size: calc(0.6rem + 0.2vw);
}

/* overlay styles */

.pop-up-container {
  max-width: max(50vw, min(30rem, 90vw));
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  overflow: auto;
  overflow-y: scroll;
  word-wrap: break-word;
  transform: translate(-50%, -50%);
  background-color: var(--color-background);
  border-radius: 0.25rem;
  padding: calc(0.5rem + 1vw);
  animation-name: fade-in-container;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 0s;
}

.pop-up-container > .button {
  border-radius: 0.25rem;
  margin: auto;
  min-height: 4vh;
  width: 40%;
  background-color: var(--color-background2);
  font-weight: 600;
  /* center text vertically */
  vertical-align: middle;
  line-height: 4vh;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  animation-name: fade-in-background;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-delay: 0s;
}

.loading-reader-view {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  padding: 45vh 0;
}

.loading-reader-view .loading-icon {
  margin: auto;
  width: 10vw;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

@keyframes fade-in-background {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-container {
  from {
    opacity: 0;
    transform: translate(-50%, 100vh);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
