:root {
  --sidebar-width: 1px;
  --sidebar-icon-height: calc(30px + 2vw);

  /* Color palette from dark to light */
  --black: #000;
  --grey: #1e1e1e;
  --grey-1: #161616;
  --grey-2: #5e5e5e;
  --grey-3: #a3a3a3;
  --grey-4: #d9d9d9;
  --grey-5: #e9e9e9;
  --white: white;
  --brown: #a2845e;


  /*variables */
  --font-family: sans-serif;
  --font-size: 15px;
  --color-text: var(--black);
  --color-border: var(--grey-4);
  --color-selected-text: var(--black);
  --color-selected-background: var(--grey-4);
  --color-hover-background: var(--grey-4);
  --color-background: var(--white);
  --color-background2: var(--grey-4);
  --font-weight-normal: 300;
  --font-weight-bold: 600;
  --color-toggle-border: var(--grey-3);
  --color-toggle-background: var(--white);
  --color-slider-background: var(--grey-3);
  --color-slider-thumb: var(--grey-2);
  --color-indicator: var(--brown);
  --color-median: var(--grey-3);
  --color-scroll-background: var(--grey-5);
  --color-scroll-thumb: var(--grey-3);
  --color-scroll-hover: var(--grey-3);
  --color-background-sidebar: var(--grey);
  --icon-color: var(--grey-1);
  --color-sidebar-selected: var(--grey-3);
  --color-icon: var(--white);
}

/* dark theme variables */
body.dark-mode {
  --color-text: var(--grey-5);
  --color-border: var(--grey-2);
  --color-selected-text: var(--grey-5);
  --color-selected-background: var(--grey-2);
  --color-hover-background: var(--grey-2);
  --color-background: var(--grey-1);
  --color-background2: var(--grey-2);
  --color-toggle-border: var(--grey-3);
  --color-toggle-background: var(--grey-1);
  --color-slider-background: var(--grey-3);
  --color-slider-thumb: var(--grey-4);
  --color-indicator: var(#5C452E);
  --color-median: var(--grey-3);
  --color-scroll-background: var(--grey-1);
  --color-scroll-thumb: var(--grey-3);
  --color-scroll-hover: var(--grey-3);
  --color-background-sidebar: var(--grey-1);
  --icon-color: var(--grey-5);
  --color-sidebar-selected: var(--grey-2);
  --color-icon: var(--white);
}

/* Target the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background-color: var(--color-scroll-background);
}

/* Target the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: var(--color-scroll-thumb);
  border-radius: 10px;
  /* Optional: round the thumb */
}

/* Target the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scroll-hover);
}

/* Target the whole scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Optional: adjust the width */
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}