:root {
  --sidebar-width: 1px;
  --sidebar-icon-height: calc(30px + 2vw);
  /* --sub-constraint: */

  /* Settings */
  --settings-font-family: sans-serif;
  --settings-font-size: 15px;
  --settings-color-text: #000;
  --settings-color-border: #cfd0d0;
  --settings-font-weight-normal: 300;
  --settings-color-selected-text: #000;
  --settings-color-selected-background: #d9d9d9;
  --settings-color-hover-background: #e0e0e0;
  --settings-color-background: #fff;
  --settings-font-weight-bold: 600;
  --settings-color-toggle-border: #a3a3a3;
  --settings-color-toggle-background: white;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  cursor: pointer;
}

#root,
#__next {
  isolation: isolate;
}
